# 람다
  - 함수의 또 다른 표현
  - 함수중에 매개변수로 함수를 전달받는 함수가 있다.
  - 함수를 한 줄로 간단하게 만들어 줌

In [1]:
def add(a, b):
    return a + b

print( add(10,20)   )

30

In [2]:
add =  lambda a,b : a + b

print( add(10,20)   )

30

In [ ]:
# 4칙연산  + - * /

In [11]:
def add(a,b):
  return a+b
def minus(a,b) :
  return a-b
def mul(a,b):
  return a*b
def div(a,b):
  return a/b
def myfunc1(a,b):
  return a**2 + b**2

In [4]:
#  함수하나로 위의 4칙연산을 표현
# 두개의 값을 전달하고 연산을 정하는 함수도 전달
def calc(a,b,func):  # 두개의 값과 연산할 함수를 전달
  return func(a,b)  # 전달받은 함수에 두개의 값을 이용해서 함수를 호출하고 그 결과를 받아서 다시 리턴

In [12]:
calc(10,20,myfunc1)

500

In [ ]:
lambda a,b : a+b

In [17]:
# 각 변수를 2로나누고 합을 구해보세요
# def myfunc2(a,b):
#   return a/2 + b/2

# calc(10,20, myfunc2)

calc(10,20, lambda a,b : a/2 + b/2 )

15.0

In [19]:
list(  map(int,['10','20','30'])  )

[10, 20, 30]

In [21]:
# 정수로 된 임의의 리스트에 각 원소를 제곱하는 리스트를 구하시오
# def myfunc3(a):
#   return a**2

# list(  map(myfunc3,[10,20,30])  )


list(  map(lambda a: a**2 ,[10,20,30])  )

[100, 400, 900]

### 람다작성법
  - lambda 매개변수 : 실행할 로직

In [ ]:
# 1. 두수의 합을 구하는 람다
lambda a,b : a + b
# 2. 리스트의 각 요소에 2를 곱하는 map에 람다를 적용
list(  map(lambda a: a*2,[10,20,30])  )
# 3. 문자열 길이를 반환하는 람다
lambda a: len(a)
# 4. 리스트의 각 문자열을 대문자로 처리하는 map에 람다를 적용
list(  map(lambda a: a.upper(),['abc','def','ghi'])  )
# 5. 두개의 문자열을 결합하는 람다
lambda a,b : a + b

In [23]:
# 값이 짝수면 1 홀수면 0을 반환하는 람다함수
myfunc4 =  lambda a : 1 if a%2==0 else 0
myfunc4(152)

1

# 필터

In [26]:
list( filter(lambda a: a%2!=0, [11,20,31,40,51]) )

[11, 31, 51]

In [29]:
# 특정 문자열을 포함하는 단어 필터링   a 라는문자열
words = ['apple','banana','chery','grape','mango']
list( filter(lambda a: 'a' in a, words) )

['apple', 'banana', 'grape', 'mango']

In [30]:
# 문자열의 길이가 5개인 단어만 필터링
words = ['apple','banana','chery','grape','mango']
list( filter(lambda a: len(a)==5, words) )

['apple', 'chery', 'grape', 'mango']

In [32]:
# 1~10 사이의 숫자중에서 임의수 10개를 추출한다음
# 2와 5사이에 있는 숫자만 추출  2 <= x <= 5
import random
random_number = [random.randint(1,10) for i in range(10)]
print(random_number)
list(filter(lambda x: 2 <= x <= 5, random_number))

[2, 4, 3, 6, 10, 1, 7, 2, 10, 4]

[2, 4, 3, 2, 4]

# 맵 리듀스

In [35]:
from functools import reduce
import random
random_number = [random.randint(1,10) for i in range(10)]
print(random_number, sum(random_number))
reduce(lambda a,b: a+b, random_number)

[6, 7, 4, 4, 10, 9, 7, 2, 8, 9] 66

66

In [39]:
# 리스트에 리스트들이 있다... 즉 2차원 리스트 -- 1차원 리스트로
# [ [1,2], [3,4,5], [6,7]    ]  --> [1,2,3,4,5,6,7]
temp = [ [1,2], [3,4,5], [6,7]    ]
list(  reduce(lambda a,b: a+b, temp)  )

[1, 2, 3, 4, 5, 6, 7]

In [44]:
# 주어진 2차원 데이터를 1차원으로 변경하되 중복을 제거해서
# ['apple', 'banana','check','grape','mango']
words = [['apple','banana'],['banana', 'chery'],['grape','mango','chery'] ]
# 1차원으로 변경한후 - reduce
reduce(lambda a,b: a+b, words)
# 중복을 제거 - set
set(reduce(lambda a,b: a+b, words))

{'apple', 'banana', 'chery', 'grape', 'mango'}

In [46]:
words = [['apple','banana'],['banana', 'chery'],['grape','mango','chery'] ]
reduce(lambda a,b: set(a).union(set(b)), words)

{'apple', 'banana', 'chery', 'grape', 'mango'}