Dictionary
  - key:value
    - key 는 데이터집합에서 unique한 속성... id, 주민등록번호
    - value 는 일반변수로 데이터, 리스트, 문자열, dic 등등

In [1]:
# empty list
list_1 = []
list_1 = list()

In [2]:
# empry dictionary
dict_1 = {}
dict_1 = dict()

In [5]:
# not empty list
list_1 = [100,80,95]
# not empty dict
dict_1 = { '홍길동':100, '철수':80, '영희':95 , '홍길동':98  }
print( dict_1['홍길동'] )

98

- C
  - dict_1 = {}
  - dict_1 = dict()
  - dict_1 = { '홍길동':100, '철수':80, '영희':95 }
- R
  - 특정키에 대한 값을 읽을때는 dict_1['홍길동']
- Update / Append
  - dict_1['홍길동'] = 100
- D
  - del dict_1['홍길동']

In [6]:
dict_1

{'홍길동': 98, '철수': 80, '영희': 95}

In [7]:
dict_1['이순신'] = 100

In [8]:
dict_1

{'홍길동': 98, '철수': 80, '영희': 95, '이순신': 100}

In [10]:
del dict_1['홍길동']

In [11]:
dict_1

{'철수': 80, '영희': 95, '이순신': 100}

- 키 값만 출력(리스트)
  - dict_1.keys()
- 값 만 출력(리스트)
  - dict_1.values()

In [13]:
dict_1.keys(),   dict_1.values()

(dict_keys(['철수', '영희', '이순신']), dict_values([80, 95, 100]))

In [14]:
dict_1

{'철수': 80, '영희': 95, '이순신': 100}

In [15]:
for i in dict_1:
  print(i)

철수
영희
이순신

In [16]:
print(dict_1['철수'])
print(dict_1['영희'])
print(dict_1['이순신'])

80
95
100

In [17]:
for i in dict_1:
  print(dict_1[i])

80
95
100

In [20]:
for i in dict_1.keys():
  print(dict_1[i])

80
95
100

In [19]:
for i in dict_1.values():
  print(i)

80
95
100

In [23]:
# key value를 동시에 가져온다
for i in dict_1.items():
  print(i)

('철수', 80)
('영희', 95)
('이순신', 100)

In [24]:
for i, j in dict_1.items():
  print(i,j)

철수 80
영희 95
이순신 100

In [25]:
# 내가 찾고자 하는 값이 집합에 있는지 확인하는 명령어   in

'철수' in dict_1.keys()

True

In [31]:
dict_1['철수'] += 1

In [32]:
dict_1

{'철수': 83, '영희': 95, '이순신': 100}

자료구조
  - 리스트
  - 딕셔너리

In [38]:
# 리스트에 임의의 숫자(1~10)를 30개 만들어서 출력
# 각 번호가 몇번 나왔는지 ex) 0:5, 1:2, 3:2 ...
import random
# temp = []
# for i in range(30):
#   temp.append( random.randint(1,10)  )
temp = [   random.randint(1,10)  for i in range(30)   ]
print(temp )

[2, 4, 4, 6, 4, 9, 7, 6, 8, 8, 9, 2, 9, 1, 1, 3, 8, 7, 1, 10, 9, 7, 2, 2, 3, 8, 2, 10, 7, 10]

In [39]:
# 비어있는 dict을 하나 만든다
result_dict = {}
# 리스트를 순환하면서 각 번호를 dictionary에 없으면 추가하고 있으면 값을 증가한다.
for i in temp:
  if i not in result_dict:
    # 키가 없으므로 최초 생성
    result_dict[i] = 1
  else:  # 키가 있으면 기존 값을 증가  +=
    result_dict[i] += 1

# 결과확인
result_dict

{2: 5, 4: 3, 6: 2, 9: 4, 7: 4, 8: 4, 1: 3, 3: 2, 10: 3}

함수
  - 지역변수(local variable)
    -  함수에서 생성해서 함수가 끝나면 없어지는 변수
  - 전역변수(global variable)
    - 함수 외부에서 생성해서 함수내부에서도 사용되는 변수

In [45]:
def func1():
  a = 10 # 지역변수
  print(f"func1 에서 a의 값 = {a}")

def func2():
  global a  # global변수를 의미한다  이게 없으면 func1처럼 내부에 변수를 새로 만든다
  a = 30
  print(f"func2 에서 a의 값 = {a}")

a = 20

print(f"함수호출전 a의 값 = {a}")

func1()
func2()

print(f"함수호출후 a의 값 = {a}")

함수호출전 a의 값 = 20
func1 에서 a의 값 = 10
func2 에서 a의 값 = 30
함수호출후 a의 값 = 30

반환값이 여러개인 함수

In [48]:
# 두개의 값을 받아서 각각의 + - 의 결과를 반환하는 함수
def myfunc1( v1, v2 ):
  return v1 + v2,  v1 - v2

In [53]:
a,b = myfunc1(10,20)
print(a, b)

30 -10

In [54]:
# 두개의 값을 받아서 사칙연산의 결과를 반환하는 함수
def myfunc2( v1, v2 ):
  return v1 + v2,  v1 - v2, v1 * v2, v1 / v2

In [55]:
myfunc2(10,20)

(30, -10, 200, 0.5)

In [56]:
# 두개의 값을 받아서 사칙연산의 결과를 반환하는 함수
# 결과 값은 dictionary 형태로 반환
def myfunc2( v1, v2 ):
  result = {}
  result['+'] = v1 + v2
  result['-'] = v1 - v2
  result['*'] = v1 * v2
  if v2 != 0:
    result['/'] = v1 / v2
  else:
    result['/'] = None
  return result

In [57]:
myfunc2(10,20)

{'+': 30, '-': -10, '*': 200, '/': 0.5}

pass
  - if , for , while , def 와같이 block이 있는 명령어는 반드시
  - 한개 이상의 명령어가 있어야 함
  - 그런데.. 모양만 갖추고 싶을때 사용

In [60]:
def calc_custom():
  pass

In [61]:
if True:
  pass
else:
  print("abc")

arguments의 개수를 지정하는 방법
- def temp_func1(a,b):
  - pass

In [62]:
# 두개의 변수의 합을 구하는 함수
# 세개의 변수의 합을 구하는 함수
def temp_func1(a,b):
  return a+b
def temp_func2(a,b,c):
  return a+b+c

In [67]:
# default 매개변수
def temp_func3(a,b,c = 0):
  return a + b + c

print( temp_func3(1,2) )
print( temp_func3(1,2, 100) )

3
103

In [ ]:
# 주의사항
# 디폴트 매개변수는 뒤에서 부터 작성한다.
# default 매개변수
def temp_func3(a = 0, b = 0, c = 0 ):
  return a + b + c

# default 매개변수가 아닌 매개변수 - positional arguments
temp_func3()
temp_func3(1)
temp_func3(2,3)
temp_func3(1,2,3)

매개변수의 개수를 지정하지 않고 전달
  - func1(1)
  - func1(1,2,3,4,5)
  - func1(1,2,3,1,5,2,1,4,1,4,1,4,1,4)

In [69]:
# 전달한 매개변수의 합을 구하는 함수
def sum_lists(list_1):
  result = 0
  for i in list_1:
    result += i
  return result

In [71]:
sum_lists( [1,2,3,4,5,6,7,8,9,10] )

55

In [72]:
# 패킹 packing...파라메터로 전달받은 매개변수를 리스트화 한다
def sum_lists2(*list_1):  # 매개변수 argument
  result = 0
  for i in list_1:
    result += i
  return result

In [76]:
sum_lists2( 1,2,3,4,5,6,7,8,9,10,11,12 )  # 파라메터

78

In [78]:
list_2 = [1,2,3,4]
print(list_2)
print(*list_2)  # un-packing  언패킹

[1, 2, 3, 4]
1 2 3 4

In [80]:
# sum_lists2(list_2) # TypeError: unsupported operand type(s) for +=: 'int' and 'list'
sum_lists2(*list_2)  # 리스트의 데이터를 언패킹해서 매개변수로 전달하면 함수에서 다시 패킹해서 리스트로 사용한다.

10