In [2]:
for i in range(1,10):
  print(f"2 x {i} = {2*i}")

print('logic...')
print('logic...')

for i in range(1,10):
  print(f"3 x {i} = {3*i}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
logic...
logic...
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [3]:
def dan(num):
  for i in range(1,10):
    print(f"{num} x {i} = {num*i}")

In [5]:
dan(2)
print('logic')
print('logic')
print('logic')
dan(4)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
logic
logic
logic
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

In [6]:
# refactoring
# code-review

In [7]:
# 학사관리
# 메뉴를 표시하고
# 1. 학생정보 입력
#   이름,나이,점수
# 2. 학생정보 수정
#   이름으로 학생을 찾아서 정보를 수정
# 3. 학생출력
#   이름으로 학생정보를 출력 ( 이름:, 나이: 점수:)
# 4, 데이터  삭제
#   이름으로 학생정보를 삭제
# 메뉴에 해당하는 번호를 누르면 기능을 수행

In [ ]:
def show_menu():
  print(f"1. 학생정보 입력\t\t 3. 학생정보 출력")
  print(f"2. 학생정보 수정\t\t 4. 데이터 삭제")
  print(f"5. 종료")

def make_student(list_data):
    list_data.append( {
        'name' : input("name : "),
        'age' : int(input("age : ")),
        'jumsu' : float(input("jumsu : "))
    })
def show_stuent(list_data):
  for i in list_data:
    print(i)

In [15]:
student_dic = {}
student_list = []
while True:
  show_menu()  # 메뉴정보 1 ~ 5 출력

  choice =  int(input("input number : "))
  if choice == 1:
    make_student(student_list)  # 리스트를 전달해서 함수에서 리스트를 추가한다

  elif choice == 2:
    # 저장한 데이터에서 원하는 학생을 찾아서
    # 원하는 값으로 변경
    pass
  elif choice == 3:
    show_stuent(student_list)   # 리스트에 있는 딕셔너리 정보를 전부 출력
  elif choice == 4:
    # 집합데이터에서 특정 학생정보를 삭제
    pass
  elif choice == 5:
    break
  else:
    print("re-input data[1 - 4]")

1. 학생정보 입력		 3. 학생정보 출력
2. 학생정보 수정		 4. 데이터 삭제
5. 종료
input number : 1
name : 홍길동
age : 10
jumsu : 90
1. 학생정보 입력		 3. 학생정보 출력
2. 학생정보 수정		 4. 데이터 삭제
5. 종료
input number : 1
name : 아무개
age : 15
jumsu : 100
1. 학생정보 입력		 3. 학생정보 출력
2. 학생정보 수정		 4. 데이터 삭제
5. 종료
input number : 3
{'name': '아무개', 'age': 15, 'jumsu': 100.0}
{'name': '아무개', 'age': 15, 'jumsu': 100.0}
1. 학생정보 입력		 3. 학생정보 출력
2. 학생정보 수정		 4. 데이터 삭제
5. 종료
input number : 1
name : 이상해
age : 1
jumsu : 1
1. 학생정보 입력		 3. 학생정보 출력
2. 학생정보 수정		 4. 데이터 삭제
5. 종료
input number : 3
{'name': '이상해', 'age': 1, 'jumsu': 1.0}
{'name': '이상해', 'age': 1, 'jumsu': 1.0}
{'name': '이상해', 'age': 1, 'jumsu': 1.0}
1. 학생정보 입력		 3. 학생정보 출력
2. 학생정보 수정		 4. 데이터 삭제
5. 종료
input number : 5

In [22]:
# 리스트에 데이터를 딕셔너리를 추가했는데..
# 왜 값이 다 같아 질까?

test_list = []
test_list.append({
  'name' : '홍길동',
  'age' : 10,
  'jumsu' : 50
})


test_list.append({
  'name' : '이길동',
  'age' : 15,
  'jumsu' : 60
})

test_list.append({
  'name' : '이상해',
  'age' : 20,
  'jumsu' : 70
})
print(test_list)

[{'name': '홍길동', 'age': 10, 'jumsu': 50}, {'name': '이길동', 'age': 15, 'jumsu': 60}, {'name': '이상해', 'age': 20, 'jumsu': 70}]

## Review

In [23]:
# 변수
a = 10
a = [1,2,3]
a = {'a':10, 'b':20}

In [24]:
# 아무데이터 10개를 가지는 리스트를 만들어보세요
a = [1,2,3, [1,2,3]  ,5, {'a':10,'b':20 }  ,7,8,9,10]
# 딕셔너리는 테이블 생각하시면 됩니다.... 한개의 row가 한개의 딕셔너리
# 각각 자유롭게 사용
a = {
    1: 100,
    2: 200,
    'a': 300,
    'b': [1,2,3],
    'c': {
        'aa':1,
        'bb':2
    }
}

In [27]:
a['c']

{'aa': 1, 'bb': 2}

In [28]:
data = {
    '시군구':{
        '서울':{
            '강남구':{
                '음식점':12000,
                '편의점':20000
            },
            '서초구':{
                '음식점':12000,
                '편의점':20000
            },
            '영등포구':{
                '음식점':12000,
                '편의점':20000
            }
        },
        '경기' :{
            '용인시':{
                '음식점':12000,
                '편의점':20000
            }
        },
        '대전':{
            '유성구':{
                '음식점':12000,
                '편의점':20000
            }
        }
    }
}

In [32]:
data['시군구']['서울'].keys()

dict_keys(['강남구', '서초구', '영등포구'])

In [33]:
data['시군구']['경기'].keys()

dict_keys(['용인시'])

In [35]:
list_1 = [ 1,2]
list_1.append(10)
list_1.append(10)
list_1.append(10)
print(list_1)

for i in list_1:
  pass

[1, 2, 10, 10, 10]

In [36]:
dic_1 = {
    'code' : '001',
    'name' : '사과',
    'price':1000
}
dic_2 = {
    'code' : '002',
    'name' : '배',
    'price':2000
}
product = [ dic_1, dic_2]
product

[{'code': '001', 'name': '사과', 'price': 1000},
 {'code': '002', 'name': '배', 'price': 2000}]

In [ ]:
# 함수 는  복잡한 코드들을 집합화 시킴 - 명령어 들의 집합
# def 함수명( [매개변수] ):
  # 코드
  # 코드
  # 코드
  # [ return  값 ]


# 함수명([파라메터])

# 변수 = 함수명([파라메터])

In [37]:
# 서론
  # - 메뉴출력
# 본론 : main process
  #  번호에 따른 기능수행
# 결론
  # 출력..

In [38]:
for i in range(2,10):
  for j in range(1, 10):
    print(f"{i} x {j} = {i*j}")
  print()

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [39]:
def display_dan( i ):
  for j in range(1, 10):
    print(f"{i} x {j} = {i*j}")

In [41]:
for i in range(2,10):
  display_dan(i)
  print()

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [43]:
numbers = '1 2 3 4 5 6 7 8 9'
print(numbers)
numbers = input()
print(numbers)

1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10

In [51]:
numbers = '1/2/3/4/5/6/7/8/9/10'
print(numbers)
numbers.split(sep='/')

1/2/3/4/5/6/7/8/9/10

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [54]:
# 이름, 나이, 점수
datas = input('나이 이름 점수를 공백을 기준으로 입력하세요 : ')
datas = datas.split()
student = {
    'age' : int(datas[0]),
    'name' : datas[1],
    'jumsu' : int(datas[2])
}
print(student)

나이 이름 점수를 공백을 기준으로 입력하세요 : 25 홍길동 100
{'age': '25', 'name': '홍길동', 'jumsu': '100'}

In [55]:
'동해물과백두산이'
'123456789'

'123456789'

In [61]:
print(list('동해물과백두산이'))

['동', '해', '물', '과', '백', '두', '산', '이']

In [60]:
print(list('1 2 3 4 5 6 7 8 9'))

['1', ' ', '2', ' ', '3', ' ', '4', ' ', '5', ' ', '6', ' ', '7', ' ', '8', ' ', '9']

In [ ]:
# '3일 서울 중구 하나은행에서 직원들이 업무를 보고 있다'
# 명사만 추출

In [65]:
# split() : 문자열을 분리해서 리스트로 저장
# 리스트로 된 문자들을 하나의 문자열로 합친다
temp = "1 2 3 4 5 6 7 8 9 10"
print('original :', temp)
temp_split = temp.split()
print('split : ', temp_split)

original : 1 2 3 4 5 6 7 8 9 10
split :  ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [69]:
' '.join( temp_split  )

'1 2 3 4 5 6 7 8 9 10'

리스트 슬라이싱 : 문자열에도 적용

In [79]:
temp = '안녕하세요^'

In [80]:
temp[0],  temp[1],  temp[2]

('안', '녕', '하')

In [81]:
temp[2:5]

'하세요'

In [84]:
temp[0 : -1]

'안녕하세요'

In [85]:
temp[ : -1]

'안녕하세요'

In [86]:
temp[ 0 : ]

'안녕하세요^'

In [87]:
temp[  : ]

'안녕하세요^'

In [88]:
temp = [1,2,3,4,5,6,7,8,9,10]
temp[2:5]

[3, 4, 5]

In [89]:
# 문자열을 내부에서 리스트처럼 사용되기때문에
# 문자열을 가지고 인덱스처럼 접근가능하고
# for문에도 사용가능
for i in '12345':
  print(i)

1
2
3
4
5

In [90]:
len([1,2,3])

3

In [91]:
len('동해물과')

4

In [ ]:
'동해물과'