# 순환문 제어
  - break : 중지
  - continue : 순환문의 마지막으로 이동 즉 continu 아래 문장은 실행안하고 다음 순환

In [7]:
for i  in range(10):
  if i == 2:
    break # break가 속한 순환문을 탈출
  print(i)

0
1

In [8]:
for i  in range(10):
  if i == 2:
    continue # break가 속한 순환문을 탈출
  print(i)

0
1
3
4
5
6
7
8
9

In [11]:
# 1부터 계속 더하다가  그 합이 1000 에 가장까운 숫자는  1+2+3+4
# 순환문과 for문을 이용
hap = 0
for i in range(1000):
  hap += i
  if hap >= 1000:
    print(hap-i,hap, i-1, i)
    break

990 1035 44 45

In [15]:
# 짝수 또는 홀수만 출력  continue 를 사용  skip
for i in range(0,11):
  if i % 2 !=0: # 홀수면
    continue  # 다음문장 실행하지 않고 다음단계로 넘어감
  print(i)

0
2
4
6
8
10

while VS for
  - for : 횟수가 정해짐 - 정해진 데이터를 탐색
  - while은 조건이기때문에 횟수가 따로 정해지지 않음

# while 조건
  - for문처럼 블럭을 순환하는데.  조건을 만족하면 즉 만족안할때 까지 순환

In [1]:
cnt = 0
while cnt < 5:
  print("순환문")
  cnt += 1

순환문
순환문
순환문
순환문
순환문

In [2]:
# 두개의 숫자를 입력받아서 input
# 두개의 숫자의 합을 출력하는 문장을 반복하되
# 둘다 같은수를 입력하면 종료한다.
while True:
  num1, num2 =  float(input("첫번째 숫자를 입력하세요")) , float(input("두번째 숫자를 입력하세요"))
  if num1 == num2:
    break
  print(f"{num1} + {num2} = {num1 + num2}")

첫번째 숫자를 입력하세요1
두번째 숫자를 입력하세요5
1.0 + 5.0 = 6.0
첫번째 숫자를 입력하세요5
두번째 숫자를 입력하세요6
5.0 + 6.0 = 11.0
첫번째 숫자를 입력하세요1
두번째 숫자를 입력하세요1

퀴즈
  - 1. 가위 바위 보 게임
    - 규칙 : 컴퓨터가 하나 고른다.(우리는 모름)
    - 사용자한테 가위(0), 바위(1), 보(2) 입력을 받아서
    - 사용자가 이길때 까지 반복한다

In [6]:
import random
while True:
  com = random.randint(0,2)
  human = int( input("가위(0), 바위(1), 보(2) : ") )
  if com == 0 and human == 0:
    print('비겼습니다.')
  elif com == 0 and human == 1:
    print('이겼습니다.')
    break
  elif com == 0 and human == 2:
    print('졌습니다.')
  elif com == 1 and human == 0:
    print('졌습니다.')
  elif com == 1 and human == 1:
    print('비겼습니다.')
    break
  elif com == 1 and human == 2:
    print('이겼습니다.')
    break
  elif com == 2 and human == 0:
    print('이겼습니다.')
    break
  elif com == 2 and human == 1:
    print('졌습니다.')
  elif com == 2 and human == 2:
    print('비겼습니다.')

가위(0), 바위(1), 보(2) : 0
졌습니다.
가위(0), 바위(1), 보(2) : 0
이겼습니다.

In [8]:

import random
while True:
  com = random.randint(0,2)
  human = int( input("가위(0), 바위(1), 보(2) : ") )
  if com == human:
    print('비겼습니다.')
  elif  (com == 0 and human == 1) or \
        (com == 1 and human == 2) or \
        (com == 2 and human == 0) :
    print('이겼습니다.')
    break
  else:
    print('졌습니다.')

가위(0), 바위(1), 보(2) : 0
비겼습니다.
가위(0), 바위(1), 보(2) : 0
비겼습니다.
가위(0), 바위(1), 보(2) : 0
이겼습니다.

In [15]:
# 1부터 100 사의 숫자중에 임의로 컴퓨터가 하나 선택하면
# 사용자로부터 값을 계속 입력받아서 맞출때 까지 실행하는데.. 그 횟수를 count 해서 출력한다.
# EX) 10번만에 맞췄다고 하면
# 정답입니다.. 10번 시도했습니다.
# binary search 알고리즘
import random
com = random.randint(1,101)
cnt = 0
# print(com)
while True:
  human = int( input('번호를 추측하세요(1~100)') )
  if com == human:
    print(f'정답입니다. {cnt}번 시도했습니다.')
    break
  elif com > human:
    print("큽니다")
  else:
    print("작습니다")
  cnt += 1

번호를 추측하세요(1~100)50
큽니다
번호를 추측하세요(1~100)75
작습니다
번호를 추측하세요(1~100)60
작습니다
번호를 추측하세요(1~100)55
큽니다
번호를 추측하세요(1~100)57
큽니다
번호를 추측하세요(1~100)58
정답입니다. 5번 시도했습니다.

In [27]:
type("a") == str,  type(1) == int, type(1.5) == float, type(True) == bool, type([1,2,3]) == list

(True, True, True, True, True)

In [24]:
# 주어진 리스트중에서 문자열만 찾아서 새로운 리스트에 할당
temp_data = [ 1, 2, 10.5, '홍길동', [1,2,3], '철수', 1,2,3  ]
# 순환문을 이용해서 리스트의 값을 하나씩 꺼내서 문자열인지 비교한후 문자열이면 새로운 리스트에 추가한다
new_data = []

for i in temp_data:
  if type(i) == str:
    new_data.append(i)

print(new_data)

['홍길동', '철수']

In [28]:
# 위의 코드를 이용해서 이번에는 정수와 실수와같은 숫자만 추출해 보자
temp_data = [ 1, 2, 10.5, '홍길동', [1,2,3], '철수', 1,2,3  ]
# 순환문을 이용해서 리스트의 값을 하나씩 꺼내서 문자열인지 비교한후 문자열이면 새로운 리스트에 추가한다
new_data = []  # 초기화

for i in temp_data:
  if (type(i) == int) or ( type(i) == float  ) :
    new_data.append(i)

print(new_data)

[1, 2, 10.5, 1, 2, 3]

In [53]:
temp_data = [ '1', '2', '10',  [1,2,3], '홍길동','철수', '1','2','3'  ]
# 문자열 숫자를 판단하는 방법
# a = ['100']
# a[0].isdigit() -- >True
# 숫자로 변경가능한 문자열을 찾아서 실제 숫자로 변경한다음 그 합을 구하시오
new_data = []
for i in temp_data:
  if type(i) == str and  i.isdigit():   # 리스트에 있는 각각의 요소가 문자열일때만 isdigit을 적용한다
    new_data.append(int(i))
print(new_data)
print( sum(new_data)  )

[1, 2, 10, 1, 2, 3]
19

In [63]:
list_1 = [1,2,3]
list_2 = [4,5,6]
# 두 리스트를 이용해서 [1,2,3,4,5,6] 을 만들어 보세요 새로운 리스트에 저장
# extend 명령어를 사용  - 리스트를 확장하는 명령어
list_1.extend( list_2 )
print(list_1)

[1, 2, 3, 10]

In [68]:
list_temp = [   [1,2,3],[4,5,6],[7,8,9],[10,11,12]  ]
# 순환문과 extend를 이용해서
# list_temp를 출력하면 [ 1,2,3,4,5,6,7,8,9,10,11,12  ]
new_list = []  # 빈 리스트를 생성
for i in list_temp: # 리스트의 요소(리스트)를 순환
  new_list.extend( i )  # 리스트에 새로운 리스트를 extend해서 하나의 리스트로 만든다
  # print(new_list)  # 매 순간 상태를 확인하고 싶으면 주석을 제고하고 실행

print(new_list)
# [1, 2, 3]
# [1, 2, 3, 4, 5, 6]
# [1, 2, 3, 4, 5, 6, 7, 8, 9]
# [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

[1, 2, 3]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

# 리스트 컴프리핸션
  - for 문 없이 한줄로 표현 가능한 문법 - 간단한 for문에 대해서

In [69]:
# 1~100 사이의 랜덤한 값 10 개를 리스트에 담으세요
import random

random_list = []
for i in range(10):
  random_list.append( random.randint(1,100) )

print(random_list)

[54, 37, 6, 54, 16, 77, 26, 28, 89, 43]

In [72]:
random_list = [random.randint(1,100) for i in range(10)]
print(random_list)

[27, 64, 90, 72, 42, 16, 44, 30, 84, 13]

In [71]:
# 리스트 컴프리핸션
# [ for문안에서 실행할 로직  for i in 집합   ]

In [73]:
[ i*2 for i in range(10) ]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [75]:
num = 10
result = ''
if num %2 == 0 :
  result = "짝수"
else:
  result = "홀수"
print(result)

짝수

In [77]:
num = 10
result = '짝수' if num %2 == 0  else '홀수'
print(result)

짝수

In [79]:
# 임의수 10개 만들어서 짝수면 1 홀수면 0을 출력
# 리스트 컴프리핸션을 이용해서 임의수 10개를 가지는 리스트를 만들것
import random
random_lilst = [ random.randint(1,100)  for i in range(10) ]
print(random_list)

for i in random_list:
  print(    1 if i%2 ==0  else 0     )

[27, 64, 90, 72, 42, 16, 44, 30, 84, 13]
0
1
1
1
1
1
1
1
1
0