# 복습

In [6]:
import random
num = random.randint(1,100)
if num > 50:
  print("50 over")
print("end")

50 over
end

In [7]:
if num > 50:
  print("50 over")
else:
  print("50 under")

50 over

In [11]:
import random
num = random.randint(1,100)
# 20 ~ 50 사이일때 success 출력
if 20 <= num <= 50:
  print("success")

if num >= 20 and num <= 50:  # true, false
  print("success")

success
success

In [ ]:
import random
num = random.randint(1,100)
# 20 ~ 50 사이일때 success 출력

if num >= 20 or num <= 50:   # 항상 true
  print("success")

In [13]:
# 구매가격을 입력하고  - 1000원 이하는 없음
# 지불한 가격을 입력하면 - 1000원 이하는 없음
# 거스름돈 계산 (10000, 5000, 1000)
# ex 구매 :34000   지불 : 50000
# 거스름돈 : 10000:1, 5000:1, 1000:1
# input, %, //
# 10000의 몫, 나머지가 있다면 - 5000 몫 나머지가 있다면 - 1000 몫
price = float(input("구매가격 입력: "))
pay = float(input("지불한 가격: "))
money = pay - price
print("10000 :",money // 10000, end='')
if money % 10000:  # 나머지가 있다면
  money = money % 10000
  print(", 5000 :",money // 5000, end='')
  if money % 5000:  # 나머지가 있다면
    money = money % 5000
    print(", 1000 :",money // 1000, end='')

구매가격 입력: 18000
지불한 가격: 20000
10000 : 0.0, 5000 : 0.0, 1000 : 2.0

In [15]:
# 율리우스력
# 원하는 년도를 입력받아서 해당 년도가 윤년인지 판단
year = float(input("년도를 입력하세요: "))

# 4로 나누어 떨어지는 해는 윤년, 그 밖의 해는 평년으로 한다.
if year % 4 == 0:
  print("윤년")
else:
  print("평년")

년도를 입력하세요: 2024
윤년

In [ ]:
# 조건 추가 - 그레고리력
# 100으로 나누어 떨어지되 400으로 나누어 떨어지지 않는 해는 평년으로 한다. (즉, 끝 두 자리가 00이면서 윗 자리가 4의 배수가 되는 해)
# 1900은 평년
if year % 100 == 0  and year % 400 != 0

In [18]:
year = float(input("년도를 입력하세요: "))
if (year % 4 == 0) or ( year % 100 == 0  and year % 400 != 0 ):
  print("윤년")
else:
  print("평년")

년도를 입력하세요: 2024
윤년

# 반복문
  - for 변수 in 집합

In [19]:
for i in [1,5,7]:
  print(i)

1
5
7

In [20]:
for data in [1,5,7]:
  print(data)

1
5
7

In [21]:
for data in [1,5,7]:
  print("안녕")

안녕
안녕
안녕

In [22]:
for _ in [1,5,7]:
  print("안녕")

안녕
안녕
안녕

In [25]:
range(10),  list( range(10) )

(range(0, 10), [0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [28]:
for i in range(1,5):
  print(i)

1
2
3
4

In [30]:
# 1 ~ 100을 포함한 임의의 숫자 10개를 리스트로
import random
list_1 = []
list_1.append(random.randint(1,100))
list_1.append(random.randint(1,100))
list_1.append(random.randint(1,100))
list_1.append(random.randint(1,100))
list_1.append(random.randint(1,100))
list_1.append(random.randint(1,100))
list_1.append(random.randint(1,100))
list_1.append(random.randint(1,100))
list_1.append(random.randint(1,100))
list_1.append(random.randint(1,100))
print(list_1)

[11, 23, 99, 51, 82, 31, 28, 78, 1, 28]

In [34]:
import random
list_1 = []
for _ in range(10):
  list_1.append(random.randint(1,100))
print(list_1)

[81, 72, 54, 97, 45, 61, 84, 6, 90, 26]

In [36]:
# 로또번호 추출기 ( 1 ~ 45)  6개 번호 추천( 랜덤하게 생성)  - 이때 번호 중복은 생각하지 않는다
import random
list_1 = []
for _ in range(6):
  list_1.append(random.randint(1,46))
print(list_1)

[16, 10, 14, 43, 24, 14]

In [41]:
for test in ['a',10,45.5, [1,2,3]  ]:
  print(test)

a
10
45.5
[1, 2, 3]

In [42]:
# 두개의 변수의 값을 서로 exchange 해 보자
a = 1
b = 2
print(a,b)

1 2

In [43]:
a, b = b , a
print(a,b)

2 1

In [62]:
import random
rottos = list(range(1,46))  # size 45  index 0 ~ 44
print(f"섞기전 {rottos} ")

# 100번 섞음
for i in range(100):
  rand1 = random.randint(1,44)
  # rand2 = random.randint(1,44)
  rottos[0], rottos[rand1] = rottos[rand1], rottos[0]

print(f"섞은후 {rottos} ")
# 6개의 번호를 추출하고 정렬해서 출력한다.
rotto = []
for i in range(6):
  rotto.append( rottos[i]  )

rotto.sort()
print(rotto)

섞기전 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]
섞은후 [27, 32, 3, 12, 44, 24, 4, 37, 9, 40, 43, 20, 2, 23, 1, 14, 38, 34, 18, 45, 28, 35, 25, 26, 22, 16, 31, 17, 29, 7, 11, 42, 6, 10, 15, 13, 19, 30, 39, 36, 41, 33, 21, 5, 8]
[3, 12, 24, 27, 32, 44]

In [64]:
# 특정 횟수만큼 반복 - range(반복하고싶은 숫자)
# print("study for loop")
# print("study for loop")
# print("study for loop")
# print("study for loop")
# print("study for loop")
for i in range(5):
  print("study for loop")

study for loop
study for loop
study for loop
study for loop
study for loop

In [65]:
for i in range(5):
  print("study for loop", i)

study for loop 0
study for loop 1
study for loop 2
study for loop 3
study for loop 4

In [ ]:
# for i in range(시작값, 끝값+1, 증가값):
# for i in range(0,5,1):  0 1 2 3 4
# for i in range(5):

# for i in range(0,5,2):  0 2 4

In [ ]:
# 사용자로부터 값을 3번 입력받아서 그 합을 구해봅시다
a = float(input("값을 입력하세요: "))  # 이 명령어 5번 수행해서 각각의 값의 합을 구하세요
b = float(input("값을 입력하세요: "))
c = float(input("값을 입력하세요: "))
d = float(input("값을 입력하세요: "))
e = float(input("값을 입력하세요: "))
print(a+b+c+d+e)

In [66]:
# 개선
# 순환문
# list
list_1 = []
for i in range(5):
  list_1.append( float(input("값을 입력하세요: ")) )
print( sum(list_1) )

값을 입력하세요: 5
값을 입력하세요: 4
값을 입력하세요: 4
값을 입력하세요: 5
값을 입력하세요: 2
20.0

In [67]:
# 1 ~ 20 짝수들의 합을 구해봅시다
# 순환문 range()  2개씩 증가  range(시작값, 끝값+1, 증가값)
# 짝수들의 집합을 리스트로 담고
# 리스트의 합 sum 명령어로 구한다
list_1 = []
for i in range(2,21,2):
  list_1.append( i )
print(list_1)
print( sum( list_1 )  )

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
110

In [68]:
total = 0
for i in range(2,21,2):
  total = total + i

print( total  )

110

In [70]:
a = 5
# a = a + 1
a += 1
print(a)

6

In [71]:
total = 0
for i in range(2,21,2):
  total +=  i

print( total  )

110

In [ ]:
# 복합 대입연산자
# +=   -=   *=   /=
# a += 1  >>  a = a + 1

In [ ]:
# 리스트에 숫자들이 있고.. 그 중에서 가장 큰 수를 찾아서 출력
# 1 랜덤함수를 이용해서 임의의 값 10개를 리스트로 만들고
# 해당 리스트에서 최대 값을 찾는다.
# 찾는 방법  : 리스트의 첫번째 값을 max_num 변수에 넣고 리스트의 두번째 값부터 비교해서 리스트의 값이 크면
# max_num의 변수를 교체하면서 리스트 끝까지 가면... 결국 max_num에는 리스트에서 가장 큰 값이 담겨있다

In [77]:
# 최대값
import random
list_1 = []
# 랜덤한 데이터 10개
for i in range(10):
  list_1.append(  random.randint(1,100)   )

# 생성된 랜덤한 리스트를 순환하면서 가장 큰 값을 찾아서 변수에 담기
max_num = list_1[0]
for i in list_1:
  if max_num < i:
    max_num = i

print(list_1)
print(max_num)

[63, 73, 89, 43, 13, 70, 92, 55, 68, 88]
92

In [78]:
# 최소값
import random
list_1 = []
# 랜덤한 데이터 10개
for i in range(10):
  list_1.append(  random.randint(1,100)   )

# 생성된 랜덤한 리스트를 순환하면서 가장 큰 값을 찾아서 변수에 담기
min_num = list_1[0]
for i in list_1:
  if min_num > i:
    min_num = i

print(list_1)
print(min_num)

[81, 51, 24, 60, 45, 90, 97, 100, 62, 6]
6

In [81]:
# 위와 똑 같은 방법으로 순환문을 이용하지 않고
import random
list_1 = []
# 랜덤한 데이터 10개
for i in range(10):
  list_1.append(  random.randint(1,100)   )
print(list_1)
# sort
list_1.sort() # 오름차순
# 리스트의 맨 앞-> 최소
# 리스트의 맨 마지막 -> 최대
print(list_1[0],  list_1[-1])

[70, 83, 97, 6, 90, 44, 16, 85, 54, 80]
6 97

In [86]:
# 2002 ~ 현째까지의 년도중에 윤년만 리스트에 담아서 출력  range(2002,2025)
list_1 = []
for year in range(2002,2025):
  if (year % 4 == 0) or ( year % 100 == 0  and year % 400 != 0 ):
    list_1.append(year)

print(list_1)   # 2004, 2008, 2012, 2016, 2020, 2024

[2004, 2008, 2012, 2016, 2020, 2024]

In [88]:
# 중첩 for 문
for i in range(3):
  for j in range(3):
    print(f"i = {i} / j = {j}")

i = 0 / j = 0
i = 0 / j = 1
i = 0 / j = 2
i = 1 / j = 0
i = 1 / j = 1
i = 1 / j = 2
i = 2 / j = 0
i = 2 / j = 1
i = 2 / j = 2

In [89]:
# print("2 x 1 = 2")
# print("2 x 2 = 4")
# print("2 x 3 = 5")
# # ....
# print("2 x 9 = 18")
for i in range(1, 10):
  print(f"2 x {i} = {2*i}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [98]:
for j in range(1,10):  # 단
  print()
  for i in range(2, 10):
    print(f"{i} x {j} = {j*i}", end='\t')

2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9
2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81