In [2]:
for i in range(1,10):
  print(f"2 x {i} = {2*i}")

print('logic...')
print('logic...')

for i in range(1,10):
  print(f"3 x {i} = {3*i}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
logic...
logic...
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [3]:
def dan(num):
  for i in range(1,10):
    print(f"{num} x {i} = {num*i}")

In [5]:
dan(2)
print('logic')
print('logic')
print('logic')
dan(4)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
logic
logic
logic
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

In [6]:
# refactoring
# code-review

In [7]:
# 학사관리
# 메뉴를 표시하고
# 1. 학생정보 입력
#   이름,나이,점수
# 2. 학생정보 수정
#   이름으로 학생을 찾아서 정보를 수정
# 3. 학생출력
#   이름으로 학생정보를 출력 ( 이름:, 나이: 점수:)
# 4, 데이터  삭제
#   이름으로 학생정보를 삭제
# 메뉴에 해당하는 번호를 누르면 기능을 수행

In [ ]:
def show_menu():
  print(f"1. 학생정보 입력\t\t 3. 학생정보 출력")
  print(f"2. 학생정보 수정\t\t 4. 데이터 삭제")
  print(f"5. 종료")

def make_student(list_data):
    list_data.append( {
        'name' : input("name : "),
        'age' : int(input("age : ")),
        'jumsu' : float(input("jumsu : "))
    })
def show_stuent(list_data):
  for i in list_data:
    print(i)

In [15]:
student_dic = {}
student_list = []
while True:
  show_menu()  # 메뉴정보 1 ~ 5 출력

  choice =  int(input("input number : "))
  if choice == 1:
    make_student(student_list)  # 리스트를 전달해서 함수에서 리스트를 추가한다

  elif choice == 2:
    # 저장한 데이터에서 원하는 학생을 찾아서
    # 원하는 값으로 변경
    pass
  elif choice == 3:
    show_stuent(student_list)   # 리스트에 있는 딕셔너리 정보를 전부 출력
  elif choice == 4:
    # 집합데이터에서 특정 학생정보를 삭제
    pass
  elif choice == 5:
    break
  else:
    print("re-input data[1 - 4]")

1. 학생정보 입력		 3. 학생정보 출력
2. 학생정보 수정		 4. 데이터 삭제
5. 종료
input number : 1
name : 홍길동
age : 10
jumsu : 90
1. 학생정보 입력		 3. 학생정보 출력
2. 학생정보 수정		 4. 데이터 삭제
5. 종료
input number : 1
name : 아무개
age : 15
jumsu : 100
1. 학생정보 입력		 3. 학생정보 출력
2. 학생정보 수정		 4. 데이터 삭제
5. 종료
input number : 3
{'name': '아무개', 'age': 15, 'jumsu': 100.0}
{'name': '아무개', 'age': 15, 'jumsu': 100.0}
1. 학생정보 입력		 3. 학생정보 출력
2. 학생정보 수정		 4. 데이터 삭제
5. 종료
input number : 1
name : 이상해
age : 1
jumsu : 1
1. 학생정보 입력		 3. 학생정보 출력
2. 학생정보 수정		 4. 데이터 삭제
5. 종료
input number : 3
{'name': '이상해', 'age': 1, 'jumsu': 1.0}
{'name': '이상해', 'age': 1, 'jumsu': 1.0}
{'name': '이상해', 'age': 1, 'jumsu': 1.0}
1. 학생정보 입력		 3. 학생정보 출력
2. 학생정보 수정		 4. 데이터 삭제
5. 종료
input number : 5

In [22]:
# 리스트에 데이터를 딕셔너리를 추가했는데..
# 왜 값이 다 같아 질까?

test_list = []
test_list.append({
  'name' : '홍길동',
  'age' : 10,
  'jumsu' : 50
})


test_list.append({
  'name' : '이길동',
  'age' : 15,
  'jumsu' : 60
})

test_list.append({
  'name' : '이상해',
  'age' : 20,
  'jumsu' : 70
})
print(test_list)

[{'name': '홍길동', 'age': 10, 'jumsu': 50}, {'name': '이길동', 'age': 15, 'jumsu': 60}, {'name': '이상해', 'age': 20, 'jumsu': 70}]