##1. 클래스의 개념과 정의
- 클래스: 속성(데이터)과 메서드로 구성
- 속성: 클래스 내부에서 정의되는 변수
- 메서드: 클래스 내부에서 정의되는 멤버 함수
- 객체: 일을 하는 주체, 클래스를 통해 생성

## 2. 클래스의 사용

In [ ]:
class Stocks:
  "삼성전자, LG전자, SK하이닉스"
  def __init__(self, name, price): # self는 Stocks 클래스 자신을 의미
    self.name=name
    self.price=price

lg=Stocks("LG전자", 150000) # 객체를 생성할 때 인자를 넣어야 함
print(lg.name, lg.price)

LG전자 150000

In [ ]:
# 객체를 생성한후에 객체의 필드를 셋팅
class Stocks:
  name = ''
  def createValue(self):
    self.name2 = '엘지전자'

print("객체생성전")
s = Stocks()
print("객체생성후")
s.name = '삼성전자'
s.createValue()
print(s.name, s.name2)

객체생성전
객체생성후
삼성전자 엘지전자

- 생성자는 객체를 생성할때 호출되는 내부 함수(이름 정해져있음)
- 없으면 아무것도 안하는 기본 생성자를 제공한다

- 생성자를 통해서 클래스에 필요한 필드를 정의하고 매개변수를 통해서 값을 초기화 한다
- 생성자는 없으면 기본생성자를 제공하지만 사용자가 만들면. 더 이상 제공 안한다

In [ ]:
class Stocks:
  def __init__(self,name):
    self.name = name

In [ ]:
class Stocks:
  "삼성전자, LG전자, SK하이닉스"
  def __init__ (self, name, price, count=0): # self는 Stocks 클래스 자신을 의미
    self.name=name
    self.price=price
    self.count=count

lg=Stocks("LG전자", 150000) # 객체를 생성할 때 인자를 넣어야 함
print(lg.name, lg.price, lg.count) # count의 기본값 출력

LG전자 150000 0

In [ ]:
class Stocks:
  "삼성전자, LG전자, SK하이닉스"
  def __init__ (self, name, price, count=0): # self는 Stocks 클래스 자신을 의미
    self.name=name
    self.price=price
    self.count=count
  def click(self, num_times=1):
    """클릭 횟수"""
    self.count+= num_times # self.count=self.count+num_times
lg=Stocks("LG전자", 150000) # 객체를 생성할 때 인자를 넣어야 함

print(lg.name, lg.price, lg.count) #-- ❶ # count의 기본값 출력
lg.click( )
print(lg.name, lg.price, lg.count) #-- ❷
lg.click( )
print(lg.name, lg.price, lg.count) #-- ❸

LG전자 150000 0
LG전자 150000 1
LG전자 150000 2

In [ ]:
print(lg)

<__main__.Stocks object at 0x78776b30bb50>

In [ ]:
class Stocks:
  '''name : 이름
     price : 가격
     count : 클릭 횟수 '''
  def __init__ (self, name, price, count=0):
    self.name=name
    self.price=price
    self.count=count
  def __repr__(self): # 문자형 형태로 반환
    return f"Stocks의 클릭 수(count={self.count})"
  def click(self, num_times=1):
    """클릭 횟수"""
    self.count+= num_times
  def read(self):
    return self.count
  def reset(self):
    self.count=0

In [ ]:
lg=Stocks("LG전자", 150000) # 객체를 생성할 때 인자를 넣어야 함
print(lg.name, lg.price, lg.count) # count의 기본값 출력
lg.click( )
print(lg.name, lg.price, lg.count)
lg.click( )
print(lg.name, lg.price, lg.count)
lg.click( )
print(lg.name, lg.price, lg.count)

LG전자 150000 0
LG전자 150000 1
LG전자 150000 2
LG전자 150000 3

In [ ]:
print(lg)

Stocks의 클릭 수(count=3)

In [ ]:
lg.read( )
print(lg.name, lg.price, lg.count) # count의 기본값 출력
lg.reset( )
print(lg.name, lg.price, lg.count) # count의 기본값 출력
lg.click( )
lg.click( )
lg.click( )
lg.__repr__( )

LG전자 150000 3
LG전자 150000 0

'Stocks의 클릭 수(count=3)'

복습
  - 각 상황에 맞는 생성자를 만들어서 사용
  - 지난시간에 했던 Student / StudentMng 를 사용할때 생성자를 이용

In [ ]:
class Student:
  # 생성자를 통해서 변수를 생성하고 초기화 name age score
  def __init__(self,name,age,score):
    self.name=name
    self.age=age
    self.score=score
  def __repr__(self):
    return f'이름: {self.name}, 나이: {self.age}, 점수: {self.score}'

class StudentMng:
  # 생성자 Student객체를 담을 리스트를 필드로 가질것
  def __init__(self,students):
    self.students=students
  # 전체학생의 정보를 출력하는 메소드
  def printAll(self):
    for student in self.students:
      print(student)
  # 학생이름,나이,점수를 검색하는 메소드 리턴값은 학생객체  findName
  def findName(self,key, value): # key 필드명, value는 찾고자 하는 값
    for student in self.students:
      if hasattr(student, key) and getattr(student, key) == value:
        return student

In [ ]:
# 5명 학생
students = [
    Student('홍길동1', 20, 90),Student('홍길동2', 30, 80),
    Student('홍길동3', 40, 70),Student('홍길동4', 50, 60),
    Student('홍길동5', 60, 50)
]
smng = StudentMng(students)
smng.findName('score',70)  # 객체를 반환하고 객체를 출력하려고 하기때문에. __repr__이 호출되었다

이름: 홍길동3, 나이: 40, 점수: 70

In [ ]:
smng.printAll()

이름: 홍길동1, 나이: 20, 점수: 90
이름: 홍길동2, 나이: 30, 점수: 80
이름: 홍길동3, 나이: 40, 점수: 70
이름: 홍길동4, 나이: 50, 점수: 60
이름: 홍길동5, 나이: 60, 점수: 50

In [ ]:
temp = Student('홍길동1', 20, 90)
hasattr(temp, 'name'),  getattr(temp, 'name')

(True, '홍길동1')

실전 테스트

![image.png]()

In [ ]:
# 학생객체(위에서 만든)를 저장하는 DB
# DB는 기본적으로 (학생을 생성-C, 출력또는읽기-R, 수정또는업데이트-U, 삭제-D)  CRUD
# 생성 - 기존 리스트에 추가
# 삭제 - 리스트에서 데이터 삭제 : 삭제대상을 찾아서 pop(인덱스)
# 업데이트 - 업데이트대상 객체를 찾아서 원하는정보로 수정
class Student:
  # 생성자를 통해서 변수를 생성하고 초기화 name age score
  def __init__(self,id,name,age,score):
    self.id = id
    self.name=name
    self.age=age
    self.score=score
  def __repr__(self):
    return f'아이디:{self.id}, 이름: {self.name}, 나이: {self.age}, 점수: {self.score}'

class StudentDB:
  def __init__(self,students):
    self.students=students
  # 추가
  def addStudent(self,student):
    student.id=self.getMaxId()
    self.students.append(student)
  # 삭제
  def delStudent(self,key, value):
    s  = self.findStudent(key, value)
    self.students.remove(s)

  # id 채번(최대값 + 1)
  def getMaxId(self):
    max = 0
    for s in self.students:
      if s.id > max:
        max = s.id
    return max+1
    # return max([s.id for s in self.students]) + 1



  # 수정
  def updateStudent(self,id,newStudent):  # id를 가지고 기존학생객체를 찾아서 수정하고 자하는 객체로 업데이트 한다
    for s in self.students:
      if s.id == id:
        s.name=newStudent.name
        s.age=newStudent.age
        s.score=newStudent.score
        break

  # 읽기
  def findStudent(self,key, value): # key 필드명, value는 찾고자 하는 값
    for student in self.students:
      if hasattr(student, key) and getattr(student, key) == value:
        return student

In [ ]:
# 5명 학생
students = [
    Student(1,'홍길동1', 20, 90),Student(2,'홍길동2', 30, 80),
    Student(3,'홍길동3', 40, 70),Student(4,'홍길동4', 50, 60),
    Student(5,'홍길동5', 60, 50)
]
smng = StudentDB(students)
smng.students

[아이디:1, 이름: 홍길동1, 나이: 20, 점수: 90,
 아이디:2, 이름: 홍길동2, 나이: 30, 점수: 80,
 아이디:3, 이름: 홍길동3, 나이: 40, 점수: 70,
 아이디:4, 이름: 홍길동4, 나이: 50, 점수: 60,
 아이디:5, 이름: 홍길동5, 나이: 60, 점수: 50]

In [ ]:
# 새로운 학생을 추가할때.. 기존 아이디와 중복되는 것을 피하기위해서
# 학생들의 아디중에 최대값을찾아서 새로운 아이디는 +1 해서 추가하는 로직을 만들어주세요
# C
smng.addStudent(Student(6,'홍길동6', 60, 50))

In [ ]:
# R
smng.findStudent('id',3)

아이디:3, 이름: 홍길동3, 나이: 40, 점수: 70

In [ ]:
# U
findedStudent = smng.findStudent('id',3)
findedStudent.name = '김길동'
smng.updateStudent(3,findedStudent)

In [ ]:
fs = smng.findStudent('id',3)
fs

아이디:3, 이름: 김길동, 나이: 40, 점수: 70

In [ ]:
# D
smng.delStudent('id',3)
smng.students

[아이디:1, 이름: 홍길동1, 나이: 20, 점수: 90,
 아이디:2, 이름: 홍길동2, 나이: 30, 점수: 80,
 아이디:4, 이름: 홍길동4, 나이: 50, 점수: 60,
 아이디:5, 이름: 홍길동5, 나이: 60, 점수: 50,
 아이디:6, 이름: 홍길동6, 나이: 60, 점수: 50]

In [ ]:
# 객체를 생성할때마다 값을 증가시켜보자.
class ABC:
  count=0
  def __init__(self,id=0):
    self.id = id

In [ ]:
a = ABC()  # 객체 생성
b = ABC()
c = ABC()
print(a.count,b.count,c.count, ABC.count, "객체생성후 초기값들")
# a.count를 변경
a.count = 100
print(a.count,b.count,c.count,ABC.count, "a 객체를 통한 count변경")
ABC.count = 200
print(a.count,b.count,c.count,ABC.count, "클래스를 통한 count 변경")
d = ABC()
print(d.count, "새로운 객체 생성후 count 출력")
b.count=0
ABC.count = 300
print(a.count,b.count,c.count,d.count,ABC.count, "클래스를 통한 count 변경")
ABC.count = 400
print(a.count,b.count,c.count,d.count,ABC.count, "클래스를 통한 count 변경")

0 0 0 0 객체생성후 초기값들
100 0 0 0 a 객체를 통한 count변경
100 200 200 200 클래스를 통한 count 변경
200 새로운 객체 생성후 count 출력
100 0 300 300 300 클래스를 통한 count 변경
100 0 400 400 400 클래스를 통한 count 변경

- 클래스에서 생성한 변수(생성자를 통한 변수 생성제외)
  - static 변수
  - 모든 객체가 공유하는 변수
    - 객체명으로 변수의 값을 변경하면 더이상 static을 참고 안한다

In [ ]:
# 객체를 생성할때마다 값을 증가시켜보자.
class ABC:
  count=0
  def __init__(self,id=0):
    self.id = id

a = ABC()  # 객체 생성
b = ABC()
c = ABC()
print(a.count,b.count,c.count, ABC.count, "객체생성후 초기값들")
# a.count를 변경
a.count += 100
print(a.count,b.count,c.count,ABC.count, "a 객체를 통한 count변경")
ABC.count += 200
print(a.count,b.count,c.count,ABC.count, "클래스를 통한 count 변경")
d = ABC()
print(d.count, "새로운 객체 생성후 count 출력")
b.count = 0
ABC.count += 300
print(a.count,b.count,c.count,d.count,ABC.count, "클래스를 통한 count 변경")
ABC.count += 400
print(a.count,b.count,c.count,d.count,ABC.count, "클래스를 통한 count 변경")

0 0 0 0 객체생성후 초기값들
100 0 0 0 a 객체를 통한 count변경
100 200 200 200 클래스를 통한 count 변경
200 새로운 객체 생성후 count 출력
100 0 500 500 500 클래스를 통한 count 변경
100 0 900 900 900 클래스를 통한 count 변경

In [ ]:
class Student:
  static_id = 1
  def __init__(self,name,age,score):
    self.id = Student.static_id
    self.name=name
    self.age=age
    self.score=score
    Student.static_id += 1

In [ ]:
a = Student('홍길동1', 20, 90)
b = Student('홍길동2', 30, 80)
c = Student('홍길동3', 40, 70)
print(a.id, b.id, c.id)
Student.static_id = 100
print(a.static_id, b.static_id, c.static_id)

1 2 3
100 100 100

In [ ]:
class ABC:
  count=0  # static 변수  (공유변수  share) 생성된 모든 객체가 동일한 값을 사용
  def __init__(self,id=0):
    self.id = id

print(ABC().count)  #객체     클래스 내부에 있는 count 변수   a = ABC(), a.count
print(ABC.count)  # 클래스 내부에 있는 count 변수
a = ABC()
print(a.count) # #객체     클래스 내부에 있는 count 변수
a.test = 100  # self.test = 100    새로운 변수를 생성
print(a.test)
a.count = 200 # self.count  즉 클래스 내부에 있는 count와 이름이 같지만 다른 변수 즉 새로운 변수 생성

b = ABC()
print(b.count)  # 여기서 b.count는 ABC 클래스 내부에  있는 count

0
0
0
100

In [ ]:
# static 변수 활용해서 자동으로 id값을 증가
class Student:
  static_id = 1
  # 생성자를 통해서 변수를 생성하고 초기화 name age score
  def __init__(self,id,name,age,score):
    self.id = Student.static_id
    self.name=name
    self.age=age
    self.score=score
    Student.static_id += 1
  def __repr__(self):
    return f'아이디:{self.id}, 이름: {self.name}, 나이: {self.age}, 점수: {self.score}'

class StudentDB:
  def __init__(self,students):
    self.students=students
  # 추가
  def addStudent(self,student):
    self.students.append(student)
  # 삭제
  def delStudent(self,key, value):
    s  = self.findStudent(key, value)
    self.students.remove(s)

  # 수정
  def updateStudent(self,id,newStudent):  # id를 가지고 기존학생객체를 찾아서 수정하고 자하는 객체로 업데이트 한다
    for s in self.students:
      if s.id == id:
        s.name=newStudent.name
        s.age=newStudent.age
        s.score=newStudent.score
        break

  # 읽기
  def findStudent(self,key, value): # key 필드명, value는 찾고자 하는 값
    for student in self.students:
      if hasattr(student, key) and getattr(student, key) == value:
        return student

In [ ]:
class Stack:
  def __init__(self):
    self.items = []
  def push(self, item):
    self.items.append(item)
  def pop(self):
    return self.items.pop()
  def isEmpty(self):  # 스텍이 비여있느지 확인
    return self.isEmpty()
  def len(self):  # 스텍의 개수
    return len(self.items)

class Queue:
  def __init__(self):
    self.items = []
  def enqueue(self, item):  # 맨 앞에 데이터를 추가
    self.items.insert(0,item)
  def dequeue(self):        # 맨 뒤에 데이터를 제거
    return self.items.pop()
  # put, pop  마지막에 추가, pop은 맨앞에 데이터를 가져오면서 제거
  def put(self, item):
    self.items.append(item)
  def pop(self):
    return self.items.pop(0)

##3. 상속

In [ ]:
class Stocks:
  "삼성전자, LG전자, SK하이닉스"
  def __init__(self, name, price): # self는 Stocks 클래스 자신을 의미
    self.name=name
    self.price=price

  # 기본생성자
  # def __init(self):
  #   pass

lg=Stocks("LG전자", 150000) # 객체를 생성할 때 인자를 넣어야 함
print(lg.name, lg.price)

LG전자 150000

In [ ]:
class SubStocks:  # 단독 클래스
  pass
a = SubStocks()  # 단독클래스의 객체  (기본생성자호출)
# print(a.name)  # error why??? 변수 name이 없음

# Stocks 클래스를 상속받아서 subStocks를 만든다
# 자시클래스가 객체가될때 부모클래스의 객체를 먼저 생성하고 나서 자신을 생성
# super() --> 부모객체
class SubStocks(Stocks) :
  def __init__(self,name,price,age): # 생성자에서는 생성자를 직접 호출 가능 그밖에는 불가능
    super().__init__(name, price)
    self.age = age

a = SubStocks('a',100,20)  # error 상속클래스의 객체  (기본생성자호출)
print(a.name,a.price,a.age)  # 변수 name은 Stocks의 변수를 가져와서 사용함

# 상속은... 기존 클래스를 이용해서 새로운 클래스를 만드는것 -- 확장... java에서는 extend 키워드로 표현

a 100 20

In [ ]:
# 초등학생 EStduent
  # 이름(name) 나이(age) 주소(addr), 산수(sansu)
# 중학생 MStudent
  # 이름 나이 주소, 수학(math1)
# 고등학생 HStudent
  # 이름 나이 주소, 선형대수학 기초(math2)
# 대학생 UStudent
  # 이름 나이 주소, 선형대수학 및 미적분(math3)
class Student:
  def __init__(self,name='',age=0,addr=''):
    self.name=name
    self.age=age
    self.addr=addr

class EStudent(Student):
  def __init__(self,sansu,name='',age=0,addr=''):
    super().__init__(name,age)
    self.sansu=sansu

class MStudent(Student):
  def __init__(self,name,age,addr,math1):
    super().__init__(name,age,addr)
    self.math1=math1

class HStudent(Student):
  def __init__(self,name,age,addr,math2):
    super().__init__(name,age,addr)
    self.math2=math2

class UStudent(Student):
  def __init__(self,name,age,addr,math3):
    super().__init__(name,age,addr)
    self.math3=math3

In [ ]:
Student('a',10)

In [ ]:
class subStocks(Stocks):
  # 상위 클래스의 모든 기능을 받아오고 아무 일도 하지 않는 reset 기능 추가
  def reset(self):
    pass
  def subprice(self,price1):
    self.price1=price1
    return f'subprice반환', self.price1
  def addcountprice(self, count, price):
    self.price=price
    self.count=count
    return f'price+count 합', self.price+self.count

sublg=subStocks("LG전자", 150000)
print(sublg.name, sublg.price, sublg.count) # 상위 클래스의 name, price, count 변수값 출력
sublg.click( )
sublg.click( )
sublg.click( )
print(sublg.name, sublg.price, sublg.count) # 상위 클래스의 click 메서드 실행 후 변수값 출력
sublg.reset( )
print(sublg.name, sublg.price, sublg.count) # 상위 클래스의 reset 메서드 실행 후 변수값 출력

LG전자 150000 0
LG전자 150000 3
LG전자 150000 3

In [ ]:
sublg.subprice(180000)
print(sublg.name, sublg.price, sublg.count, sublg.subprice(180000))

LG전자 150000 3 ('subprice반환', 180000)

In [ ]:
sublg1=subStocks("LG전자", 150000)
print(sublg1) # 기본값으로 Stocks의 클릭 수(count=0) 출력
sublg1.click( )
sublg1.click( )
print(sublg1)
sublg1.addcountprice(5, 150000)

Stocks의 클릭 수(count=0)
Stocks의 클릭 수(count=2)

('price+count 합', 150005)

##4. 메서드 오버라이딩

In [ ]:
class subsubStocks(subStocks):
  def reset(self):
    self.count=100 # 추가
  def click(self, num_times=2):
    """클릭 2배"""
    self.count *= num_times
  def subsubprice(self, price1):
    self.price1=price1
    return f'subprice반환', self.price1
  def addcountprice(self, count, price):
    self.price=price
    self.count=count
    return f'100*count+price', 100*self.count+self.price

sublg7=subStocks("LG전자7", 140000)
subsublg7=subsubStocks("LG전자7", 140000)
print(subsublg7)
subsublg7.reset( )
subsublg7.click( )
subsublg7.click( )
subsublg7.click( )
print(subsublg7)

Stocks의 클릭 수(count=0)
Stocks의 클릭 수(count=800)

In [ ]:
print(subsublg7.name, subsublg7.price, subsublg7.count) # 메서드 오버라이딩으로 800 출력
print(sublg7.addcountprice(5, 100))
print(subsublg7.addcountprice(5, 100))

LG전자7 140000 800
('price+count 합', 105)
('100*count+price', 600)