##1. 클래스의 개념과 정의
- 클래스: 속성(데이터)과 메서드로 구성
- 속성: 클래스 내부에서 정의되는 변수
- 메서드: 클래스 내부에서 정의되는 멤버 함수
- 객체: 일을 하는 주체, 클래스를 통해 생성

## 2. 클래스의 사용

In [1]:
class Stocks:
  "삼성전자, LG전자, SK하이닉스"
  def __init__(self, name, price): # self는 Stocks 클래스 자신을 의미
    self.name=name
    self.price=price

lg=Stocks("LG전자", 150000) # 객체를 생성할 때 인자를 넣어야 함
print(lg.name, lg.price)

LG전자 150000

In [20]:
# 객체를 생성한후에 객체의 필드를 셋팅
class Stocks:
  name = ''
  def createValue(self):
    self.name2 = '엘지전자'

print("객체생성전")
s = Stocks()
print("객체생성후")
s.name = '삼성전자'
s.createValue()
print(s.name, s.name2)

객체생성전
객체생성후
삼성전자 엘지전자

- 생성자는 객체를 생성할때 호출되는 내부 함수(이름 정해져있음)
- 없으면 아무것도 안하는 기본 생성자를 제공한다

- 생성자를 통해서 클래스에 필요한 필드를 정의하고 매개변수를 통해서 값을 초기화 한다
- 생성자는 없으면 기본생성자를 제공하지만 사용자가 만들면. 더 이상 제공 안한다

In [40]:
class Stocks:
  def __init__(self,name):
    self.name = name

In [ ]:
class Stocks:
  "삼성전자, LG전자, SK하이닉스"
  def __init__ (self, name, price, count=0): # self는 Stocks 클래스 자신을 의미
    self.name=name
    self.price=price
    self.count=count

lg=Stocks("LG전자", 150000) # 객체를 생성할 때 인자를 넣어야 함
print(lg.name, lg.price, lg.count) # count의 기본값 출력

LG전자 150000 0

In [47]:
class Stocks:
  "삼성전자, LG전자, SK하이닉스"
  def __init__ (self, name, price, count=0): # self는 Stocks 클래스 자신을 의미
    self.name=name
    self.price=price
    self.count=count
  def click(self, num_times=1):
    """클릭 횟수"""
    self.count+= num_times # self.count=self.count+num_times
lg=Stocks("LG전자", 150000) # 객체를 생성할 때 인자를 넣어야 함

print(lg.name, lg.price, lg.count) #-- ❶ # count의 기본값 출력
lg.click( )
print(lg.name, lg.price, lg.count) #-- ❷
lg.click( )
print(lg.name, lg.price, lg.count) #-- ❸

LG전자 150000 0
LG전자 150000 1
LG전자 150000 2

In [48]:
print(lg)

<__main__.Stocks object at 0x78776b30bb50>

In [50]:
class Stocks:
  '''name : 이름
     price : 가격
     count : 클릭 횟수 '''
  def __init__ (self, name, price, count=0):
    self.name=name
    self.price=price
    self.count=count
  def __repr__(self): # 문자형 형태로 반환
    return f"Stocks의 클릭 수(count={self.count})"
  def click(self, num_times=1):
    """클릭 횟수"""
    self.count+= num_times
  def read(self):
    return self.count
  def reset(self):
    self.count=0

In [44]:
lg=Stocks("LG전자", 150000) # 객체를 생성할 때 인자를 넣어야 함
print(lg.name, lg.price, lg.count) # count의 기본값 출력
lg.click( )
print(lg.name, lg.price, lg.count)
lg.click( )
print(lg.name, lg.price, lg.count)
lg.click( )
print(lg.name, lg.price, lg.count)

LG전자 150000 0
LG전자 150000 1
LG전자 150000 2
LG전자 150000 3

In [46]:
print(lg)

Stocks의 클릭 수(count=3)

In [ ]:
lg.read( )
print(lg.name, lg.price, lg.count) # count의 기본값 출력
lg.reset( )
print(lg.name, lg.price, lg.count) # count의 기본값 출력
lg.click( )
lg.click( )
lg.click( )
lg.__repr__( )

LG전자 150000 3
LG전자 150000 0

'Stocks의 클릭 수(count=3)'

복습
  - 각 상황에 맞는 생성자를 만들어서 사용
  - 지난시간에 했던 Student / StudentMng 를 사용할때 생성자를 이용

In [64]:
class Student:
  # 생성자를 통해서 변수를 생성하고 초기화 name age score
  def __init__(self,name,age,score):
    self.name=name
    self.age=age
    self.score=score
  def __repr__(self):
    return f'이름: {self.name}, 나이: {self.age}, 점수: {self.score}'

class StudentMng:
  # 생성자 Student객체를 담을 리스트를 필드로 가질것
  def __init__(self,students):
    self.students=students
  # 전체학생의 정보를 출력하는 메소드
  def printAll(self):
    for student in self.students:
      print(student)
  # 학생이름,나이,점수를 검색하는 메소드 리턴값은 학생객체  findName
  def findName(self,key, value): # key 필드명, value는 찾고자 하는 값
    for student in self.students:
      if hasattr(student, key) and getattr(student, key) == value:
        return student

In [66]:
# 5명 학생
students = [
    Student('홍길동1', 20, 90),Student('홍길동2', 30, 80),
    Student('홍길동3', 40, 70),Student('홍길동4', 50, 60),
    Student('홍길동5', 60, 50)
]
smng = StudentMng(students)
smng.findName('score',70)  # 객체를 반환하고 객체를 출력하려고 하기때문에. __repr__이 호출되었다

이름: 홍길동3, 나이: 40, 점수: 70

In [67]:
smng.printAll()

이름: 홍길동1, 나이: 20, 점수: 90
이름: 홍길동2, 나이: 30, 점수: 80
이름: 홍길동3, 나이: 40, 점수: 70
이름: 홍길동4, 나이: 50, 점수: 60
이름: 홍길동5, 나이: 60, 점수: 50

In [60]:
temp = Student('홍길동1', 20, 90)
hasattr(temp, 'name'),  getattr(temp, 'name')

(True, '홍길동1')

실전 테스트

![image.png]()

In [79]:
# 학생객체(위에서 만든)를 저장하는 DB
# DB는 기본적으로 (학생을 생성-C, 출력또는읽기-R, 수정또는업데이트-U, 삭제-D)  CRUD
# 생성 - 기존 리스트에 추가
# 삭제 - 리스트에서 데이터 삭제 : 삭제대상을 찾아서 pop(인덱스)
# 업데이트 - 업데이트대상 객체를 찾아서 원하는정보로 수정
class Student:
  # 생성자를 통해서 변수를 생성하고 초기화 name age score
  def __init__(self,id,name,age,score):
    self.id = id
    self.name=name
    self.age=age
    self.score=score
  def __repr__(self):
    return f'아이디:{self.id}, 이름: {self.name}, 나이: {self.age}, 점수: {self.score}'

class StudentDB:
  def __init__(self,students):
    self.students=students
  # 추가
  def addStudent(self,student):
    student.id=self.getMaxId()
    self.students.append(student)
  # 삭제
  def delStudent(self,key, value):
    s  = self.findStudent(key, value)
    self.students.remove(s)

  # id 채번(최대값 + 1)
  def getMaxId(self):
    max = 0
    for s in self.students:
      if s.id > max:
        max = s.id
    return max+1
    # return max([s.id for s in self.students]) + 1



  # 수정
  def updateStudent(self,id,newStudent):  # id를 가지고 기존학생객체를 찾아서 수정하고 자하는 객체로 업데이트 한다
    for s in self.students:
      if s.id == id:
        s.name=newStudent.name
        s.age=newStudent.age
        s.score=newStudent.score
        break

  # 읽기
  def findStudent(self,key, value): # key 필드명, value는 찾고자 하는 값
    for student in self.students:
      if hasattr(student, key) and getattr(student, key) == value:
        return student

In [80]:
# 5명 학생
students = [
    Student(1,'홍길동1', 20, 90),Student(2,'홍길동2', 30, 80),
    Student(3,'홍길동3', 40, 70),Student(4,'홍길동4', 50, 60),
    Student(5,'홍길동5', 60, 50)
]
smng = StudentDB(students)
smng.students

[아이디:1, 이름: 홍길동1, 나이: 20, 점수: 90,
 아이디:2, 이름: 홍길동2, 나이: 30, 점수: 80,
 아이디:3, 이름: 홍길동3, 나이: 40, 점수: 70,
 아이디:4, 이름: 홍길동4, 나이: 50, 점수: 60,
 아이디:5, 이름: 홍길동5, 나이: 60, 점수: 50]

In [81]:
# 새로운 학생을 추가할때.. 기존 아이디와 중복되는 것을 피하기위해서
# 학생들의 아디중에 최대값을찾아서 새로운 아이디는 +1 해서 추가하는 로직을 만들어주세요
# C
smng.addStudent(Student(6,'홍길동6', 60, 50))

In [82]:
# R
smng.findStudent('id',3)

아이디:3, 이름: 홍길동3, 나이: 40, 점수: 70

In [83]:
# U
findedStudent = smng.findStudent('id',3)
findedStudent.name = '김길동'
smng.updateStudent(3,findedStudent)

In [84]:
fs = smng.findStudent('id',3)
fs

아이디:3, 이름: 김길동, 나이: 40, 점수: 70

In [85]:
# D
smng.delStudent('id',3)
smng.students

[아이디:1, 이름: 홍길동1, 나이: 20, 점수: 90,
 아이디:2, 이름: 홍길동2, 나이: 30, 점수: 80,
 아이디:4, 이름: 홍길동4, 나이: 50, 점수: 60,
 아이디:5, 이름: 홍길동5, 나이: 60, 점수: 50,
 아이디:6, 이름: 홍길동6, 나이: 60, 점수: 50]

##3. 상속

In [ ]:
class subStocks(Stocks):
  # 상위 클래스의 모든 기능을 받아오고 아무 일도 하지 않는 reset 기능 추가
  def reset(self):
    pass
  def subprice(self,price1):
    self.price1=price1
    return f'subprice반환', self.price1
  def addcountprice(self, count, price):
    self.price=price
    self.count=count
    return f'price+count 합', self.price+self.count

sublg=subStocks("LG전자", 150000)
print(sublg.name, sublg.price, sublg.count) # 상위 클래스의 name, price, count 변수값 출력
sublg.click( )
sublg.click( )
sublg.click( )
print(sublg.name, sublg.price, sublg.count) # 상위 클래스의 click 메서드 실행 후 변수값 출력
sublg.reset( )
print(sublg.name, sublg.price, sublg.count) # 상위 클래스의 reset 메서드 실행 후 변수값 출력

LG전자 150000 0
LG전자 150000 3
LG전자 150000 3

In [ ]:
sublg.subprice(180000)
print(sublg.name, sublg.price, sublg.count, sublg.subprice(180000))

LG전자 150000 3 ('subprice반환', 180000)

In [ ]:
sublg1=subStocks("LG전자", 150000)
print(sublg1) # 기본값으로 Stocks의 클릭 수(count=0) 출력
sublg1.click( )
sublg1.click( )
print(sublg1)
sublg1.addcountprice(5, 150000)

Stocks의 클릭 수(count=0)
Stocks의 클릭 수(count=2)

('price+count 합', 150005)

##4. 메서드 오버라이딩

In [ ]:
class subsubStocks(subStocks):
  def reset(self):
    self.count=100 # 추가
  def click(self, num_times=2):
    """클릭 2배"""
    self.count *= num_times
  def subsubprice(self, price1):
    self.price1=price1
    return f'subprice반환', self.price1
  def addcountprice(self, count, price):
    self.price=price
    self.count=count
    return f'100*count+price', 100*self.count+self.price

sublg7=subStocks("LG전자7", 140000)
subsublg7=subsubStocks("LG전자7", 140000)
print(subsublg7)
subsublg7.reset( )
subsublg7.click( )
subsublg7.click( )
subsublg7.click( )
print(subsublg7)

Stocks의 클릭 수(count=0)
Stocks의 클릭 수(count=800)

In [ ]:
print(subsublg7.name, subsublg7.price, subsublg7.count) # 메서드 오버라이딩으로 800 출력
print(sublg7.addcountprice(5, 100))
print(subsublg7.addcountprice(5, 100))

LG전자7 140000 800
('price+count 합', 105)
('100*count+price', 600)