판다스를 이용한 전처리

In [44]:
# 파일 열기
f = open('data.txt', 'r')  # r은 읽기 모드.. 파일이 없으면 오류
f = open('data.txt', 'w')  # w은 쓰기 모드.. 파일이 없으면 새로 생성, 있으면 기존내용을 덮어쓴다
f = open('data.txt', 'rt+')  # 읽기 쓰기모드로 기존파일의 맨 뒤에서부터 내용을 추가
f = open('data.txt', 'wt+')  # 읽기 쓰기모드로 기존파일의 내용을 지우고 처음부터 쓴다
f.write('hello')  # 파일에 기록
f.close()  # 파일을 닫는다

In [45]:
with open('data.txt', 'w') as f:
    f.write('hello')

In [46]:
!unzip 'data.zip' -d data

Archive:  data.zip
replace data/file.txt? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: data/file.txt
  inflating: data/hello.txt
  inflating: data/proverb.txt

In [47]:
import glob
import os

In [48]:
glob.glob('data/*',recursive=True)  # recursive=True 하위경로에 있는 모든 파일을 가져온다

['data/hello.txt', 'data/file.txt', 'data/proverb.txt']

In [49]:
os.path.join('abc','efg',"*.txt")

'abc/efg/*.txt'

In [50]:
for filename in glob.glob('data/*'):
  with open(filename,'r',encoding='utf-8') as f:
      print(f.read())

안녕하세요
hello
내용을 추가합니다.
저장하는 문서 이름,  'w' 대신 'a'를 사용합니다.

작은 일에 성실한 사람은 큰 일에도 성실하고,
작은 일에 정직하지 못한 사람은 큰 일에도 정직하지 못하다.
누가복음 16:10

변함없이 서로 사랑하는 이가 친구이며
위급할 때 서로 돕는 이가 형제이다.
잠언 17:17
작은 일에 성실한 사람은 큰 일에도 성실하고,
작은 일에 정직하지 못한 사람은 큰 일에도 정직하지 못하다.
누가복음 16:10

변함없이 서로 사랑하는 이가 친구이며
위급할 때 서로 돕는 이가 형제이다.
잠언 17:17

In [51]:
# 문자열 분리  split
txt = '변함없이, 서로, 사랑하는, 이가, 친구이며'
print( txt.split(",") )

print( [word.strip()  for word in txt.split(',') ] )
list(map(lambda w:w.strip(), txt.split(',')))

['변함없이', ' 서로', ' 사랑하는', ' 이가', ' 친구이며']
['변함없이', '서로', '사랑하는', '이가', '친구이며']

['변함없이', '서로', '사랑하는', '이가', '친구이며']

웹페이지에서 CSV 가져오기

In [52]:
import pandas as pd
titanic_df = pd.read_csv('https://raw.githubusercontent.com/sehakflower/data/main/titanic.csv',delimiter='\t')
titanic_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.0,1,0,113776,66.6000,C2,S
152,153,0,3,"Meo, Mr. Alfonzo",male,55.5,0,0,A.5. 11206,8.0500,NaN,S
153,154,0,3,"van Billiard, Mr. Austin Blyler",male,40.5,0,2,A/5. 851,14.5000,NaN,S
154,155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S
155,156,0,1,"Williams, Mr. Charles Duane",male,51.0,0,1,PC 17597,61.3792,NaN,C

In [53]:
titanic_df = pd.read_csv('https://raw.githubusercontent.com/sehakflower/data/main/titanic.csv',sep='\t')
titanic_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.0,1,0,113776,66.6000,C2,S
152,153,0,3,"Meo, Mr. Alfonzo",male,55.5,0,0,A.5. 11206,8.0500,NaN,S
153,154,0,3,"van Billiard, Mr. Austin Blyler",male,40.5,0,2,A/5. 851,14.5000,NaN,S
154,155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S
155,156,0,1,"Williams, Mr. Charles Duane",male,51.0,0,1,PC 17597,61.3792,NaN,C

### 엑셀파일 가져오기

In [54]:
titanic = 'https://github.com/sehakflower/data/blob/main/titanic.xlsx?raw=true'
titanic = pd.read_excel(titanic,sheet_name='titanic3')
titanic

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN

# 데이터 처리

### 데이터 살펴보기 앞, 뒤  head() tail()

In [55]:
titanic_df.head(3)  # 기본이 5개... 매개변수 값을 주면 해당 값만큼

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

### 데이터개수 확인 및 형태확인  len / shape 함수

In [56]:
len(titanic_df),  titanic_df.shape

(156, (156, 12))

### 기본 통계치 보기

In [57]:
titanic_df.describe() # 컬럼이 총 12개인데.. why 7개만 나왔을까?  수치형 데이터에 대한 통계

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,156.000000,156.000000,156.000000,126.000000,156.000000,156.000000,156.000000
mean,78.500000,0.346154,2.423077,28.141508,0.615385,0.397436,28.109587
std,45.177428,0.477275,0.795459,14.613880,1.056235,0.870146,39.401047
min,1.000000,0.000000,1.000000,0.830000,0.000000,0.000000,6.750000
25%,39.750000,0.000000,2.000000,19.000000,0.000000,0.000000,8.003150
50%,78.500000,0.000000,3.000000,26.000000,0.000000,0.000000,14.454200
75%,117.250000,1.000000,3.000000,35.000000,1.000000,0.000000,30.371850
max,156.000000,1.000000,3.000000,71.000000,5.000000,5.000000,263.000000

In [58]:
titanic_df.describe(include='object') # 범주형 데이터에 대한 통계

                           Name   Sex Ticket        Cabin Embarked
count                       156   156    156           31      155
unique                      156     2    145           28        3
top     Braund, Mr. Owen Harris  male   2651  C23 C25 C27        S
freq                          1   100      2            2      110

In [59]:
titanic_df.describe(include='all')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,156.000000,156.000000,156.000000,156,156,126.000000,156.000000,156.000000,156,156.000000,31,155
unique,NaN,NaN,NaN,156,2,NaN,NaN,NaN,145,NaN,28,3
top,NaN,NaN,NaN,"Braund, Mr. Owen Harris",male,NaN,NaN,NaN,2651,NaN,C23 C25 C27,S
freq,NaN,NaN,NaN,1,100,NaN,NaN,NaN,2,NaN,2,110
mean,78.500000,0.346154,2.423077,NaN,NaN,28.141508,0.615385,0.397436,NaN,28.109587,NaN,NaN
std,45.177428,0.477275,0.795459,NaN,NaN,14.613880,1.056235,0.870146,NaN,39.401047,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.830000,0.000000,0.000000,NaN,6.750000,NaN,NaN
25%,39.750000,0.000000,2.000000,NaN,NaN,19.000000,0.000000,0.000000,NaN,8.003150,NaN,NaN
50%,78.500000,0.000000,3.000000,NaN,NaN,26.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,117.250000,1.000000,3.000000,NaN,NaN,35.000000,1.000000,0.000000,NaN,30.371850,NaN,NaN
max,156.000000,1.000000,3.000000,NaN,NaN,71.000000,5.000000,5.000000,NaN,263.000000,NaN,NaN

### 결측치와 데이터형 확인하기 info()

In [60]:
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  156 non-null    int64
 1   Survived     156 non-null    int64
 2   Pclass       156 non-null    int64
 3   Name         156 non-null    object
 4   Sex          156 non-null    object
 5   Age          126 non-null    float64
 6   SibSp        156 non-null    int64
 7   Parch        156 non-null    int64
 8   Ticket       156 non-null    object
 9   Fare         156 non-null    float64
 10  Cabin        31 non-null     object
 11  Embarked     155 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 14.8+ KB

## 열/행 정리
### 열 이름 변경

In [61]:
titanic_df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [62]:
# 컬럼명을 전부 소문자로 변경해서 데이터프레임에 반영해 주세요
titanic_df.columns =  titanic_df.columns.str.lower()

In [63]:
titanic_df.head()

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### 데이터 프레임 복사

In [64]:
copy_titanic = titanic_df.copy()
copy_titanic['passengerid'][0] = 100
copy_titanic.head()

<ipython-input-64-fdb9ecb7311e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  copy_titanic['passengerid'][0] = 100

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,100,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [65]:
titanic_df.head()

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S